@use "../scss/pico" with ($enable-classes: true,
    $theme-color: "timetracker",
    $css-var-prefix: "--tt-",
    $modules: ("themes/default": false, "themes/cordada": true),
);
@use "../scss/themes/cordada";